.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background-color: $color-primary;
}

.color-second {
    color: $color-yellow;
}

.color-second-bg {
    background: $color-yellow;
}
